@model IEnumerable<InmobiliariaParedes.Models.Propietario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-inline">PROPIETARIOS | <a asp-action="Create" class="d-inline">NUEVO</a></h1>
<hr>
<br>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoNombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>&nbsp;
                <a asp-action="Details" asp-route-id="@item.id" data-toggle="tooltip" data-placement="top" title="Detalles"><i class="fa-solid fa-circle-info"></i></a>&nbsp;
                <a asp-controller="Inmueble" asp-action="BuscarPorPropietario" asp-route-id="@item.id" data-toggle="tooltip" data-placement="top" title="Inmuebles"><i class="fa-regular fa-building"></i></a>&nbsp;
                <a asp-action="Delete" asp-route-id="@item.id" data-bs-toggle="modal" data-bs-target="#exampleModal" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="mandarId(@item.id)"><i class="fa-solid fa-trash-can"></i></a>&nbsp;
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">BAJA PROPIETARIO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>¡TODOS SUS INMUEBLES SERAN DADOS DE BAJA!</p>
                <p>¿DESEA CONTINUAR?</p>
                <form asp-action="Delete" method="POST">
                    <input id="propietarioid" class="form-control" type="hidden" name="propietarioid">
                    <br>
                    <input type="submit" value="BORRA TODO" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function mandarId(e){
        $("#propietarioid").val(e);
    }
</script>