@model IEnumerable<InmobiliariaParedes.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

@if(ViewBag.ContratoId == null){
    <h1 class="d-inline">PAGOS | <a asp-action="Create" class="d-inline">NUEVO</a></h1>
    <hr>
    <br>
}else{
    <h1 class="d-inline">PAGOS | <a asp-action="CreateConContrato" asp-route-id="@ViewBag.ContratoId" class="d-inline">NUEVO</a></h1>
    <hr>
    <br>
}

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contratoid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_pago)
            </th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contratoid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_pago)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>&nbsp;
                <a asp-action="Details" asp-route-id="@item.id" data-toggle="tooltip" data-placement="top" title="Detalles"><i class="fa-solid fa-circle-info"></i></a>&nbsp;
                <a href=""  data-bs-toggle="modal" data-bs-target="#modalBaja" data-toggle="tooltip" data-placement="top" title="Eliminar" onclick="mandarIdBaja(@item.id)"><i class="fa-solid fa-trash-can"></i></a>&nbsp;
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal fade" id="modalBaja">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ELIMINAR PAGO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>¡USTED ELIMINARÁ UN PAGO!</p>
                <p>¿DESEA CONTINUAR?</p>
                <form asp-action="Delete" method="POST">
                    <input id="pagoid" class="form-control" type="hidden" name="pagoid">
                    <br>
                    <input type="submit" value="DALEEEEE" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function mandarIdBaja(e){
        $("#pagoid").val(e);
    }
</script>