@model InmobiliariaParedes.Models.Inmueble;

@{
    ViewData["Title"] = "Create";

}

<h1>CREAR INMUEBLE</h1>
<a asp-action="Index">VOLVER AL INICIO</a>
<hr />
<div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="propietarioid" class="control-label"></label><br>
                        <select class="form-control" name="propietarioid">
                            @foreach (var p in (List<Propietario>)ViewBag.Propietarios)
                            {
                                <option value="@p.id">@p.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="direccion" class="control-label"></label>
                        <input asp-for="direccion" class="form-control" />
                        <span asp-validation-for="direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="uso" class="control-label"></label>
                        <select class="form-control" name="uso">
                            @foreach (var kvp in (IDictionary<int, string>)ViewBag.EstadosUso)
                            {
                                <option value="@kvp.Key">@kvp.Value</option>
                            }
                        </select>
                        <span asp-validation-for="uso" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="tipo" class="control-label"></label>
                        <select class="form-control" name="tipo">
                            @foreach (var kvp in (IDictionary<int, string>)ViewBag.EstadosTipo)
                            {
                                <option value="@kvp.Key">@kvp.Value</option>
                            }
                        </select>
                        <span asp-validation-for="tipo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="cant_ambiente" class="control-label"></label>
                        <input asp-for="cant_ambiente" class="form-control" />
                        <span asp-validation-for="cant_ambiente" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="precio" class="control-label"></label>
                        <input asp-for="precio" class="form-control" />
                        <span asp-validation-for="precio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="superficie" class="control-label"></label>
                        <input asp-for="superficie" class="form-control" />
                        <span asp-validation-for="superficie" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="estado" class="control-label"></label>
                        <select class="form-control" name="estado" disabled="disabled">
                            @foreach (var kvp in (IDictionary<int, string>)ViewBag.Estados)
                            {
                                <option value="@kvp.Key">@kvp.Value</option>
                            }
                        </select>
                        <span asp-validation-for="estado" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <br>
                <button type="submit" value="Create" class="btn btn-primary">CREAR</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
