@model InmobiliariaParedes.Models.Contrato

@{
    ViewData["Title"] = "Edit";
}

<h1>EDITAR CONTRATO</h1>
<a asp-action="Index">VOLVER AL INICIO</a>

<hr />
<div class="row text-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="inmuebleid" class="control-label"></label>
                        <select class="form-control" name="inmuebleid">
                            @foreach (var item in (List<Inmueble>)ViewBag.Inmuebles)
                            {
                                @:<option @(item.id == Model.inmuebleid ? "selected" : "") value="@item.id">@item.direccion</option>
                            }
                        </select>
                        <span asp-validation-for="inmuebleid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="inquilinoid" class="control-label"></label>
                        <select class="form-control" name="inquilinoid">
                            @foreach (var item in (List<Inquilino>)ViewBag.Inquilinos)
                            {
                                @:<option @(item.id == Model.inquilinoid ? "selected" : "") value="@item.id">@item.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="inquilinoid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fecha_inicio" class="control-label"></label>
                        <input asp-for="fecha_inicio" type="date" class="form-control" />
                        <span asp-validation-for="fecha_inicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="fecha_fin" class="control-label"></label>
                        <input asp-for="fecha_fin" type="date" class="form-control" />
                        <span asp-validation-for="fecha_fin" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="monto_mes" class="control-label"></label>
                        <input asp-for="monto_mes" class="form-control" />
                        <span asp-validation-for="monto_mes" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="garante_nombre" class="control-label"></label>
                        <input asp-for="garante_nombre" class="form-control" />
                        <span asp-validation-for="garante_nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="garante_apellido" class="control-label"></label>
                        <input asp-for="garante_apellido" class="form-control" />
                        <span asp-validation-for="garante_apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="garante_dni" class="control-label"></label>
                        <input asp-for="garante_dni" class="form-control" />
                        <span asp-validation-for="garante_dni" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="garante_tel" class="control-label"></label>
                        <input asp-for="garante_tel" class="form-control" />
                        <span asp-validation-for="garante_tel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">GUARDAR</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
