@model IEnumerable<InmobiliariaParedes.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="d-inline">USUARIOS | <a asp-action="Create" class="d-inline">NUEVO</a></h1>
<hr>
<br>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.id)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.apellido)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.email)
			</td>
			<td>
				<img width="32" src="@item.avatar" />
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.rolNombre)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.id" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>&nbsp;
				<a href="" data-bs-toggle="modal" data-bs-target="#modalBaja" title="Eliminar" onclick="mandarId(@item.id);"><i class="fa-solid fa-trash-can"></i></a>
			</td>
		</tr>
}
    </tbody>
</table>

<div class="modal fade" id="modalBaja">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ELIMINAR USUARIO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>¡USTED ELIMINARÁ UN USUARIO!</p>
                <p>¿DESEA CONTINUAR?</p>
                <form asp-action="Delete" method="POST">
                    <input id="usuarioid" class="form-control" type="hidden" name="usuarioid">
                    <br>
                    <input type="submit" value="DALE" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function mandarId(e){
        $("#usuarioid").val(e);
    }
</script>